/*reset*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  height: 100%;
  font-family: "Rubik";
  font-size: 16px;
  background: #f5f3f7;
}

html,
body {
  margin: 0 auto;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  /*overflow-x: hidden;*/
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*reset*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  height: 100%;
  font-family: "Rubik";
  font-size: 16px;
  background: #f5f3f7;
}

html,
body {
  margin: 0 auto;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  /*overflow-x: hidden;*/
}

h1 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  display: grid;
  place-items: center;
}

h1 {
  color: #3e2753;
  font-weight: 500;
}

h2 {
  color: #6e5d7e;
  font-weight: 400;
}

.gradient--form {
  position: absolute;
  top: -28%;
  left: -4%;
  z-index: -99;
  background: linear-gradient(to bottom, #e942ff, #8838ff);
  border-radius: 250px;
  width: 425px;
  height: 900px;
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
main .ui-phone .case {
  position: relative;
  width: 300px;
  height: 525px;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 8px 12px #c7c7c7;
}
main .ui-phone .case--top {
  width: 180px;
  height: 45px;
  border-radius: 20px;
  background: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 99;
}
main .ui-phone .case .chat__head {
  width: 280px;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: linear-gradient(to left, #e942ff, #8838ff);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 1;
  padding: 0 20px;
}
main .ui-phone .case .chat__head .arrow,
main .ui-phone .case .chat__head .menu {
  max-width: 10px;
  position: absolute;
  fill: white;
}
main .ui-phone .case .chat__head .arrow {
  transform: rotate(180deg) translate(50%, -320%);
}
main .ui-phone .case .chat__head .menu {
  max-width: 6px;
  transform: translate(235px, 320%);
}
main .ui-phone .case .chat__head .profile {
  position: absolute;
  transform: translate(50%, 100%);
  max-width: 40px;
  border-radius: 50%;
}
main .ui-phone .case .chat__head h2 {
  top: 40%;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}
main .ui-phone .case .chat__head p {
  top: 65%;
  font-size: 0.65rem;
  color: #f1dbff;
}
main .ui-phone .case .chat__head h2,
main .ui-phone .case .chat__head p {
  position: absolute;
  left: 32%;
}
main .ui-phone .case .screen--outside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 505px;
  border-radius: 30px;
  background: #f5f3f7;
}
main .descr,
main .ui-phone {
  align-self: center;
  max-width: 600px;
  margin: 0 4%;
}
main .descr h1,
main .ui-phone h1 {
  padding: 10px 0;
}
main .descr h2,
main .ui-phone h2 {
  font-size: 1rem;
  line-height: 28px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .gradient--form {
    top: -65%;
    left: -40%;
  }

  main {
    flex-flow: column wrap;
  }
  main .descr,
main .ui-phone {
    margin: 4% 0;
    padding: 0 30px;
  }
  main .descr h2,
main .descr h1,
main .ui-phone h2,
main .ui-phone h1 {
    text-align: center;
  }

  footer {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
