@import "./reset.scss";

$text-color1: hsl(276, 100%, 81%);
$text-color2: hsl(276, 55%, 52%);
$text-color3: hsl(271, 15%, 43%);
$text-color4: hsl(206, 6%, 79%);
$text-color5: hsl(271, 36%, 24%);
$text-color6: hsl(270, 7%, 64%);

body,
html {
  display: grid;
  place-items: center;
}
h1 {
  color: $text-color5;
  font-weight: 500;
}

h2 {
  color: $text-color3;
  font-weight: 400;
}
