@import "./reset.scss";
@import "./base.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

.gradient--form {
  position: absolute;
  top: -28%;
  left: -4%;
  z-index: -99;
  background: linear-gradient(to bottom, $gradient1, $gradient2);
  border-radius: 250px;
  width: 425px;
  height: 900px;
  //transform: rotate(90deg);
}
main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .ui-phone {
    .case {
      width: 300px;
      height: 525px;
      border-radius: 30px;
      background: rgb(146, 144, 144);
    }
  }
  .descr,
  .ui-phone {
    align-self: center;
    max-width: 600px;
    margin: 0 4%;
    h1 {
      padding: 10px 0;
    }
    h2 {
      font-size: 1rem;
      line-height: 28px;
    }
  }
}

@media only screen and(max-width: 1024px) {
  .gradient--form {
    top: -65%;
    left: -40%;
  }
  main {
    flex-flow: column wrap;
    .descr,
    .ui-phone {
      margin: 4% 0;
      padding: 0 30px;
      h2,
      h1 {
        text-align: center;
      }
    }
  }
}
